<!-- 

  <div class="entry">
    <h3>Gittinit! View solutions from peer GitHub repos to get new ideas or become unstuck.</h3>
  </div>

  <body>

    <div class="row">

      <a class="waves-effect waves-light btn" id="log-button"><i class="material-icons right">face</i>Login with</a>
    </div>

  </body> -->



<!-- <p>Gittinit {{user}}</p> -->
