<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <script src="/js/scripts.js">

      </script>
  </head>
  <body>
    <header>
      <h3>Gittinit! View solutions from peer GitHub repos to get new ideas or become unstuck.</h3>
      <div id="buttons">
        <a class="waves-effect waves-light btn" id="login-button"><i class="material-icons right">face</i>Login</a>
        <a class="waves-effect waves-light btn" id="logout-button"><i class="material-icons right">face</i>Logout</a>  
      </div>
    </header>
    {{{body}}}
  </body>
</html>
