<div class="center splash">

<h1><img src="images/g.gif" style="height:2em;">ittinit!</h1>
<br>
<h3>Keep track of g32 repos to get new ideas or become unstuck.</h3>

</div>
<div class="center-btn">
    <a class="button waves-effect waves-light btn center" id="login-button"><i class="material-icons right"></i>Login</a>
</div>
