<!-- <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Gittinit!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="login">Login</a></li>
        </ul>
    </div>
</nav> -->

<h3>Gittinit! View solutions from peer GitHub repos to get new ideas or become unstuck.</h3>

<div class="center-btn">
    <a class="button waves-effect waves-light btn center" id="login-button"><i class="material-icons right"></i>Login</a>
</div>
<!--
<div class="parallax-container">
    <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
</div> -->
