body {
    padding: 50px;
    font: 14px 'Roboto Mono', "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("https://hd.unsplash.com/photo-1438986710423-1bf13038bc14");
    background-size: cover;
}

.top-row {
  font-family: 'Righteous', cursive;
}

#g {
  position: relative;
  top: 1em;
}

.splash {
  font-family: 'Righteous', cursive;
  vertical-align: middle;
}

a {
    color: #0422CC;
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #0B112B;
}
/* Cards */

#card-style {
  padding-top: 1%;
  border-radius: 5%;
  background-color: #EDF1FA;
}

.card .hoverable {
  background-color: #EDF1FA;
  border-radius: 10%;
}

#card-name {
  margin-right: 1%;
  font-size: 20px;
}

#repos {
  background-color: #EDF1FA;
}

.card-image {
  max-height: 75%;
  max-width: 75%;
  margin: auto;
}

/* User Profile */

#username {
  color: #0B112B;
  font-size: 20px;
}

p {
  color: #0B112B;
  font-size: 16px;
}

#gh-user-name {
  margin-top: 2.5%;
  margin-right: 1%;
  font-size: 18px;
  color: #0B112B;
}

.responsive-img {
  width: auto;
  height: auto;
}

#profile-headers {
  padding-top: 0%;
  font-size: 22px;
  color: #0B112B;
}


/* Buttons */

.center-btn {
    text-align: center;
    /*margin-top: 10%;*/
}

.btn {
  background-color: #0422CC;
}

.btn-large {
  background-color: blue;
}

.btn:hover {
    background-color: #63C5E6;
    border: none;
    cursor: pointer;
}

#buttons {
    align-items: center;
}

#login-button {
    align-items: center;
    margin-top: 10px;
}

#logout-button {
    width: 120px;
    float: right;
}

#profile-logout {
    width: 120px;
    margin-bottom: 10px;
    /*float: left;*/
    font-size: 16px;
}

#edit-profile {
  width: 120px;
  margin-bottom: 10px;
  font-size: 16px;
}

#edit-profile-btn {
  width: 120px;
  margin-bottom: 10px;
}

#home-profile {
  width: 120px;
  margin-bottom: 10px;
  font-size: 16px;
}

#edit-logout {
  width: 120px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}


/* Edit Profile Form */

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

input[type=text] {
  border-bottom: 1px solid black;
}

.input-field label {
  color: black;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
}
