body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("https://hd.unsplash.com/photo-1438986710423-1bf13038bc14");
    background-size: 100%;
}
a {
    /*color: #00B7FF;*/
    color: #0422CC;
}
h3 {
    text-align: center;
    font-size: 24px;
    color: #0B112B;
}

#card-style {
  border-radius: 5px;
  background-color: #EDF1FA;
}

#username {
  color: #0B112B;
}

p {
  color: #0B112B;
}

.center-btn {
    text-align: center;
    margin-top: 50px;
}

.btn {
  /*background-color: blue;*/
  background-color: #0422CC;
}
.btn-large {
  background-color: blue;
}

.btn:hover {
    background-color: #63C5E6;
    border: none;
    cursor: pointer;
}

#buttons {
    align-items: center;
}
#login-button {
    align-items: center;
}
#logout-button {
    float: right;
}
#edit-profile {
  width: 120px;
  margin-bottom: 10px;
}

#edit-profile-btn {
  width: 120px;
  margin-bottom: 10px;
}
#home-profile {
  width: 120px;
  margin-bottom: 10px;
}
#edit-logout {
  width: 120px;
}
.hidden {
    display: none;
}

/* Edit Profile Form */
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

input[type=text] {
  border-bottom: 1px solid black;
}

.input-field label {
  color: black;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
}
